img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* NAVBAR */

.navbar {
  width: 100%;
  height: 2%;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  margin-left: 2%;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 10%;
  height: auto;
  margin-right: 2%;
  cursor: pointer;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 1%;
  color: white;
  font-weight: lighter;
  font-size: medium;
}

/* REGISTER */

.formContainer {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 2%;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

/* PROFILE OVERVIEW */

.pOverwievWrapper{
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pOverwievWrapper .profile {
  width: 20%;
  height: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pOverwievWrapper .profile:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.pOverwievWrapper .profile .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.pOverwievWrapper .profile .body {
  width: 100%;
  height: 50%;
}

.pOverwievWrapper .profile .body .img{
  object-fit: fill;
}

.pOverwievWrapper .profile .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  padding-left: 2%;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* PROFILE PAGE */

.profilePage{
  width: 100%;
  height: 100%;
}

.profileTop{
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid lightgray;
}

.profileTop .profilePic{
  margin: 1%;
  width: 46%;
  float: left;
}

.profileTop .animalData{
  margin: auto;
  width: 25%;
  height: auto;
  display: grid;
  float:left;
}

.profileTop .animalData > div {
  text-align: left;
  margin-left: 10%;
  margin-top: 13%;
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.profileMiddle{
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid lightgray;
}

.profileMiddle > h3{
  margin: 1%;
}

.profileMiddle > div{
  text-align: left;
  margin: 2%;
  margin-left: 3%;
  font-family: Arial, Helvetica, sans-serif;
}

/* MESSAGE */

.scroll-bg{
  width: 600px;
  height: 400px;
  margin: 2% auto;
  margin-bottom: 0%;
}

.scroll-div{
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-object{
  color: wheat;
  padding: 1%;
}

.messageForm .messageField{
  background-color: rgba(127, 255, 212, 0.295);
  margin: 1%;
  margin-top: 2%;
  height: 25px;
  width: 420px;
}
.messageForm > button{
  background-color: dodgerblue;
  color: white;
  margin: 1%;
  margin-top: 2%;
  height: 25px;
  width: 150px;
}